@use '../../../../styles/theme';
@use '../../../../styles/utilities/breakpoint-mixins';
@use '../../../../styles/utilities/container-mixins';

.title {
  color: theme.$brand-main;
  font-family: theme.$brand-font-family;
  line-height: normal;

    .h1 {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      @include container-mixins.readable-width();

      @include breakpoint-mixins.breakpoint-from(m) {
        font-size: 2.5rem;
      }
    }

    .h2 {
      font-size: 2.25rem;
      font-weight: 500;
      margin: 0 auto 20px auto;
      text-align: center;
      @include container-mixins.readable-width();
    }

    .h3 {
      font-size: 1.5rem;
      margin-bottom: 16px;
    }

    .h4 {
      font-size: 1rem;
      margin-bottom: 7px;
    }
}
