@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Lexend.ttf) format('woff2');
}

/*.MuiBox-root:nth-of-type(odd) {*/
/*  background: #D9E8F5;*/
/*}*/
/*.MuiBox-root:nth-of-type(even) {*/
/*  background: white;*/
/*}*/


/*main > article {*/
/*  &:nth-of-type(odd){*/
/*    background: #D9E8F5;*/
/*  }*/
/*  &:nth-of-type(even){*/
/*    background: white;*/
/*  }*/
/*}*/

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
 font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

.primary-color {
  color: #084772;
}

.ContentCarousel {
  background-color: #D9E8F5;
}

.secondary-color {
  background-color: #D9E8F5;
}
