@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(../../public/fonts/Lexend.ttf) format('ttf');
}



.PageSection {
  &:nth-of-type(odd) {
    background: #d9e8f5;
  }

  &:nth-of-type(even) {
    background: #fff;
  }
}

.primary-color {
  color: #084772;
}
