.teaser {
  --content-display: inline-block;
  --icon-width: 75px;

  &__icon {
    width: var(--icon-width);
    height: auto;
  }

  &__content {
    display: var(--content-display);
  }
}

.context {
  &_solution {
    --content-display: contents;

    display: grid;
    grid-template-columns: 75px 1fr;
    column-gap: 60px;
  }

  &_reference {
    --icon-width: 250px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
