.teaser {
  &__icon {
    width: 75px;
    height: 75px;
  }

  &__content {
    display: contents;
  }

  &__solution {
    display: grid;
    grid-template-columns: 75px 1fr;
    column-gap: 60px;
  }
}
