.teaser {
  --content-display: inline-block;

  &__icon {
    width: 75px;
    height: 75px;
  }

  &__content {
    display: var(--content-display);
  }
}

.context {
  &_solution {
    --content-display: contents;

    display: grid;
    grid-template-columns: 75px 1fr;
    column-gap: 60px;
  }
}
