@use 'sass:map';
@use '../../../../styles/theme' as theme;
@use '../../../../styles/config/breakpoints' as breakpoints;
@use '../../../../styles/utilities/container-mixins' as container;

.hero_banner {
  @include container.full-width-boxed-content(map.get(breakpoints.$breakpoints, l), 20px);
  background-color: theme.$brand-main;
  padding-top: 85px;
  padding-bottom: 115px;
  background-size: cover;
  background-position: center;
}
